{% extends "payments/base.html" %}
{% load static %}
{% load mathfilters %}

{% block head %}
<script src="{% static 'payments/invoices.js' %}"></script>
{% endblock head %}

{% block title %}Your Invoices - Arapay{% endblock title %}

{% block content %}

<section class="groups">
    <h3>You belong in these groups:</h3>
    {% for group in groups %}
    <span class="solo-item blue-bg">{{ group.name }}</span>
    {% endfor %}
</section>

{% if user_invoices %}

{% for user, invoices in user_invoices.items %}

<h2>{{ user.1 }}</h2>

<section class="invoices">

    {% if invoices.unpaid %}
    <article class="invoices-unpaid">
        <h2>Unpaid Invoices</h2>
        {% include 'payments/invoices-actions.html' %}
        <table class="table invoice-table">
            <thead>
            <tr>
                {% autoescape off %}
                {{ "th"|make_tags:"Name,Date Added,Date Due,Amount,Amount Paid" }}
                {% endautoescape %}
            </tr>
            </thead>
            {% for i in invoices.unpaid %}
            {% with payment=i|get_payment:user.0 %}
            <tr class="row-master{% cycle '' ' grey-bg' %}">
                <td><b class="caret-right"></b>{{ i.name }}</td>
                <td>{{ i.date_added|date:"D d-m-Y" }}</td>
                <td>{{ i.date_deadline|date:"D d-m-Y" }}</td>
                <td class="text-right">{{ i.amount_cents|div:100 }} {{ currency }}</td>
                <td class="text-right">{{ payment.amount_cents|div:100}} {{ currency }}</td>
            </tr>
            <tr class="row-detail{% cycle '' ' grey-bg' %}">
                <td colspan="5">
                    <div class="invoice-detail-wrapper">
                        <span class="invoice-description">
                        {% autoescape off %}
                        {{ i.description }}
                        {% endautoescape %}
                        </span>
                        {% if payment.var_symbol %}
                            <span class="qr-code" style="background-image: url('https://api.paylibo.com/paylibo/generator/czech/image?compress=true&size=230&accountNumber={{ account_number_num }}&bankCode={{ account_number_bank }}&currency=CZK&vs={{ payment.var_symbol }}&date={{ i.date_deadline|date:'Y-m-d' }}&message=arapay-{{ i.name }}-{{ user.username }}&amount={{ owed_amount }}');"></span>
                        {% else %}
                            <span class="qr-code"></span>
                        {% endif %}
                        <table class="invoice-payment-command table table-striped">
                            <tr>
                                <td>Acc. #</td>
                                <td class="text-right">{{ account_number }}</td>
                            </tr>
                            <tr>
                                <td>Var Symbol</td>
                                <td class="text-right">
                                    {% if payment.var_symbol %}
                                    {{ payment.var_symbol }}
                                    {% else %}
                                    <button class="btn btn-primary"
                                            onclick="generate_var_symbol('{% url 'payments:generate_var_symbol' user.0 i.id %}', {{ user.0 }}, {{ i.id }}, this)">
                                        Generate
                                    </button>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Message</td>
                                <td class="text-right">arapay-{{ i.name }}-{{ user.2 }}</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            {% endwith %}{% endfor %}
        </table>
    </article>
    {% endif %}

    {% if invoices.overpaid %}
    <article class="invoices-overpaid">
        <h2>Overpaid Invoices - Please request a refund.</h2>
        {% include 'payments/invoices-actions.html' %}
        <table class="table invoice-table">
            <thead>
            <tr>
                {% autoescape off %}
                {{ "th"|make_tags:"Name,Date Added,Date Due,Amount,Amount Paid" }}
                {% endautoescape %}
            </tr>
            </thead>
            {% for i in invoices.overpaid %}
            {% with payment=i|get_payment:user.0 %}
            <tr class="row-master{% cycle '' ' grey-bg' %}">
                <td><b class="caret-right"></b>{{ i.name }}</td>
                <td>{{ i.date_added|date:"D d-m-Y" }}</td>
                <td>{{ i.date_deadline|date:"D d-m-Y" }}</td>
                <td class="text-right">{{ i.amount_cents|div:100 }} {{ currency }}</td>
                <td class="text-right">{{ payment.amount_cents|div:100}} {{ currency }}</td>
            </tr>
            <tr class="row-detail{% cycle '' ' grey-bg' %}">
                <td colspan="5">
                    <div>
                        <span class="invoice-description">
                        {% autoescape off %}
                        {{ i.description }}
                        {% endautoescape %}
                        </span>
                        <table class="invoice-payment-command table table-striped">
                            <tr>
                                <td>Acc. #</td>
                                <td class="text-right">{{ account_number }}</td>
                            </tr>
                            <tr>
                                <td>Var Symbol</td>
                                <td class="text-right">
                                    {% if payment.var_symbol %}
                                    {{ payment.var_symbol }}
                                    {% else %}
                                    <button class="disabled btn btn-primary">VS N/A</button>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            {% endwith %}{% endfor %}
        </table>
    </article>
    {% endif %}

    {% if invoices.paid %}
    <article class="invoices-paid">
        <h2>Paid Invoices</h2>
        {% include 'payments/invoices-actions.html' %}
        <table class="table invoice-table">
            <thead>
            <tr>
                {% autoescape off %}
                {{ "th"|make_tags:"Name,Date Added,Date Due,Amount,Amount Paid" }}
                {% endautoescape %}
            </tr>
            </thead>
            {% for i in invoices.paid %}
            {% with payment=i|get_payment:user.0 %}
            <tr class="row-master{% cycle '' ' grey-bg' %}">
                <td><b class="caret-right"></b>{{ i.name }}</td>
                <td>{{ i.date_added|date:"D d-m-Y" }}</td>
                <td>{{ i.date_deadline|date:"D d-m-Y" }}</td>
                <td class="text-right">{{ i.amount_cents|div:100 }} {{ currency }}</td>
                <td class="text-right">{{ payment.amount_cents|div:100}} {{ currency }}</td>
            </tr>
            <tr class="row-detail{% cycle '' ' grey-bg' %}">
                <td colspan="5">
                    <div>
                        <span class="invoice-description">
                        {% autoescape off %}{{ i.description }}{% endautoescape %}
                        </span>
                        <table class="invoice-payment-command table table-striped">
                            <tr>
                                <td>Acc. #</td>
                                <td class="text-right">{{ account_number }}</td>
                            </tr>
                            <tr>
                                <td>Var Symbol</td>
                                <td class="text-right">
                                    {% if payment.var_symbol %}
                                    {{ payment.var_symbol }}
                                    {% else %}
                                    <button class="disabled btn btn-primary">VS N/A</button>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            {% endwith %}{% endfor %}
        </table>
    </article>
    {% endif %}

    {% with stats=invoices.stats %}
    <table class="invoice-table table">
        <thead>
        <tr>
            {% autoescape off %}
            {{ "th"|make_tags:"Total Invoices,Paid,Unpaid,Overpaid,Amount Owed,Amount Paid" }}
            {% endautoescape %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-right">{{ stats.total_users }}</td>
            <td class="text-right">{{ stats.n_paid }}</td>
            <td class="text-right">{{ stats.n_unpaid }}</td>
            <td class="text-right">{{ stats.n_overpaid }}</td>
            <td class="text-right">{{ stats.amount_cents_owed|div:100 }} {{ currency }}</td>
            <td class="text-right">{{ stats.amount_cents_paid|div:100 }} {{ currency }}
                ({{ stats.paid_percentage|floatformat:2 }}%)
            </td>
        </tr>
        </tbody>
    </table>
    {% endwith %}

</section>
{% endfor %}{% endif %}
{% endblock content %}
