{% extends "payments/base.html" %}
{% load static %}
{% load mathfilters %}

{% block head %}
<script src="{% static 'payments/invoices.js' %}"></script>
{% endblock head %}

{% block title %}Your Invoices - Arapay{% endblock title %}

{% block content %}

<section class="groups">
    <h3>You belong in these groups:</h3>
    {% for group in groups %}
    <span class="solo-item blue-bg">{{ group.name }}</span>
    {% endfor %}
</section>

{% if user_invoices %}

{% for user, invoices in user_invoices.items %}

<h2>{{ user.1 }}</h2>

<section class="invoices">

    <article class="invoices-unpaid">
        <h2>Unpaid Invoices</h2>
        {% if invoices.unpaid %}
        {% include 'payments/invoices-actions.html' %}
        <table class="table invoice-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Date Added</th>
                <th>Date Due</th>
                <th>Amount</th>
                <th>Amount Paid</th>
            </tr>
            </thead>
            {% for i in invoices.unpaid %}
            <tr class="row-master{% cycle '' ' grey-bg' %}">
                <td><b class="caret-right"></b>{{ i.name }}</td>
                <td>{{ i.date_added|date:"D d-m-Y" }}</td>
                <td>{{ i.date_deadline|date:"D d-m-Y" }}</td>
                <td class="text-right">{{ i.amount_cents|div:100 }} {{ currency }}</td>
                <td class="text-right">{{ i.payment.amount_cents|div:100 }} {{ currency }}</td>
            </tr>
            <tr class="row-detail{% cycle '' ' grey-bg' %}">
                <td colspan="5">
                    <div>
                        <span class="invoice-description">
                        {% autoescape off %}
                        {{ i.description }}
                        {% endautoescape %}
                        </span>
                        <table class="invoice-payment-command table table-striped">
                            <tr>
                                <td>Acc. #</td>
                                <td class="text-right">{{ account_number }}</td>
                            </tr>
                            <tr>
                                <td>Var Symbol</td>
                                <td class="text-right var-symbol-{{ i.id }}">
                                    {% if i.payment.var_symbol %}
                                    {{ i.payment.var_symbol }}
                                    {% else %}
                                    <button class="btn btn-primary"
                                            onclick="generate_var_symbol('{% url 'payments:generate_var_symbol' user_id=user.0 invoice_id=i.id %}', {{ user.0 }}, {{ i.id }}, this)">
                                        Generate
                                    </button>
                                    {% endif%}
                                </td>
                            </tr>
                            <tr>
                                <td>Message</td>
                                <td class="text-right">arapay-{{ user.username }}-{{ i.name }}</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h4>Congratulations! There are no unpaid invoices!</h4>
        {% endif %}
    </article>

    {% if invoices.overpaid %}
    <article class="invoices-overpaid">
        <h2>Overpaid Invoices - Please request a refund.</h2>
        {% include 'payments/invoices-actions.html' %}
        <table class="table invoice-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Date Added</th>
                <th>Date Due</th>
                <th>Amount</th>
                <th>Amount Paid</th>
            </tr>
            </thead>
            {% for i in invoices.overpaid %}
            <tr class="row-master{% cycle '' ' grey-bg' %}">
                <td><b class="caret-right"></b>{{ i.name }}</td>
                <td>{{ i.date_added|date:"D d-m-Y" }}</td>
                <td>{{ i.date_deadline|date:"D d-m-Y" }}</td>
                <td class="text-right">{{ i.amount_cents|div:100 }} {{ currency }}</td>
                <td class="text-right">{{ i.payment.amount_cents|div:100 }} {{ currency }}</td>
            </tr>
            <tr class="row-detail{% cycle '' ' grey-bg' %}">
                <td colspan="5">
                    <div>
                        <span class="invoice-description">
                        {% autoescape off %}
                        {{ i.description }}
                        {% endautoescape %}
                        </span>
                        <table class="invoice-payment-command table table-striped">
                            <tr>
                                <td>Acc. #</td>
                                <td class="text-right">{{ account_number }}</td>
                            </tr>
                            <tr>
                                <td>Var Symbol</td>
                                <td class="text-right">
                                    {% if i.payment.var_symbol %}
                                    {{ i.payment.var_symbol }}
                                    {% else %}
                                    VS N/A
                                    {% endif%}
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </article>
    {% endif %}

    <article class="invoices-paid">
        <h2>Paid Invoices</h2>
        {% if invoices.paid %}
        {% include 'payments/invoices-actions.html' %}
        <table class="table invoice-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Date Added</th>
                <th>Date Due</th>
                <th>Amount</th>
                <th>Amount Paid</th>
            </tr>
            </thead>
            {% for i in invoices.paid %}
            <tr class="row-master{% cycle '' ' grey-bg' %}">
                <td><b class="caret-right"></b>{{ i.name }}</td>
                <td>{{ i.date_added|date:"D d-m-Y" }}</td>
                <td>{{ i.date_deadline|date:"D d-m-Y" }}</td>
                <td class="text-right">{{ i.amount_cents|div:100 }} {{ currency }}</td>
                <td class="text-right">{{ i.payment.amount_cents|div:100 }} {{ currency }}</td>
            </tr>
            <tr class="row-detail{% cycle '' ' grey-bg' %}">
                <td colspan="5">
                    <div>
                        <span class="invoice-description">
                        {% autoescape off %}
                        {{ i.description }}
                        {% endautoescape %}
                        </span>
                        <table class="invoice-payment-command table table-striped">
                            <tr>
                                <td>Acc. #</td>
                                <td class="text-right">{{ account_number }}</td>
                            </tr>
                            <tr>
                                <td>Var Symbol</td>
                                <td class="text-right">
                                    {% if i.payment.var_symbol %}
                                    {{ i.payment.var_symbol }}
                                    {% else %}
                                    VS N/A
                                    {% endif%}
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h4>It looks like you have no paid invoices yet.</h4>
        {% endif %}
    </article>


</section>
{% endfor %}
{% endif %}
{% endblock content %}
