{% extends "payments/base.html" %}
{% load static %}
{% load mathfilters %}

{% block head %}
<script src="{% static 'payments/invoices.js' %}"></script>
{% endblock head %}

{% block title %}Your Invoices - Arapay{% endblock title %}

{% block content %}

<section class="groups">
    <h3>You belong in these groups:</h3>
    {% for group in groups %}
    <span class="solo-item blue-bg">{{ group.name }}</span>
    {% endfor %}
</section>

{% if invoices_user %}

{% for invoice, users in invoices_user.items %}

<div class="invoice-users">

    <h2>{{ invoice.1 }}</h2>
    <h4>{{ invoice.3 }} ~ {{ invoice.4 }}</h4>

    <table class="invoice-table table">
        <thead>
        <tr>
            {% autoescape off %}
            {{ "th"|make_tags:"Email,Status,Amount,Amount Paid,Variable Symbol" }}
            {% endautoescape %}
        </tr>
        </thead>
        {% for user, payment in users.items %}
        {% if user != 'stats' %}
        <tr class="{% cycle '' 'grey-bg' %}">
            <td>{{ user.1 }}</td>
            <td>
                <span class="solo-item payment-status payment-status-{{payment.status}}">{{ payment.status }}</span>
            </td>
            <td class="text-right">{{ invoice.2|div:100 }} {{ currency }}</td>
            <td class="text-right">{{ payment.amount_cents|div:100 }} {{ currency }}</td>
            <td class="text-right">
                {% if payment.var_symbol %}
                {{ payment.var_symbol }}
                {% elif payment.status == 'unpaid' %}
                <button class="btn btn-primary"
                        onclick="generate_var_symbol('{% url 'payments:generate_var_symbol' user.0 invoice.0 %}', {{ user.0 }}, {{ invoice.0 }}, this)">
                    Generate
                </button>
                {% else %}
                <button class="disabled btn btn-primary">VS N/A</button>
                {% endif%}
            </td>
        </tr>
        {% endif %}{% endfor %}
    </table>

    {% with stats=stats_all|get_item:invoice.0 %}
    <table class="invoice-table table">
        <thead>
        <tr>
            {% autoescape off %}
            {{ "th"|make_tags:"Total Users,Paid,Unpaid,Overpaid,Amount Owed,Amount Paid" }}
            {% endautoescape %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-right">{{ stats.n_total }}</td>
            <td class="text-right">{{ stats.n_paid }}</td>
            <td class="text-right">{{ stats.n_unpaid }}</td>
            <td class="text-right">{{ stats.n_overpaid }}</td>
            <td class="text-right">{{ stats.amount_cents_owed|div:100 }} {{ currency }}</td>
            <td class="text-right">{{ stats.amount_cents_paid|div:100 }} {{ currency }}
                ({{ stats.paid_percentage|floatformat:2 }}%)
            </td>
        </tr>
        </tbody>
    </table>
    {% endwith %}
</div>

{% endfor %}{% endif %}
{% endblock content %}
