{% extends "payments/base.html" %}
{% load static %}

{% block head %}
<script src="{% static 'payments/invoices.js' %}"></script>
{% endblock head %}

{% block title %}Your Invoices - Arapay{% endblock title %}

{% block nav_items %}
<li>Logged in as <b>{{ user.email }}</b></li>
<li><a href="/accounts/logout/?next=/">Logout</a></li>
{% endblock nav_items %}

{% block content %}

<section class="groups">
    <h3>You belong in these groups:</h3>
    {% for group in groups %}
    <span class="solo-item blue-bg">{{ group.name }}</span>
    {% endfor %}
</section>

<div class="invoices">
    {% if invoices %}

    <section class="invoices-unpaid">
        <h2>Unpaid Invoices</h2>
        {% if invoices.unpaid %}
        <table class="table invoice-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Date Added</th>
                <th>Date Due</th>
                <th>Amount Total</th>
                <th>Amount Paid</th>
            </tr>
            </thead>
            {% for i in invoices.unpaid %}
            <tr class="invoice-master{% cycle '' ' grey-bg' %}">
                <td><b class="caret-right"></b>{{ i.name }}</td>
                <td>{{ i.date_added|date:"D d-m-Y" }}</td>
                <td>{{ i.date_deadline|date:"D d-m-Y" }}</td>
                <td>{{ i.amount_cents }}</td>
                <td>{{ i.payment.amount_cents }}</td>
            </tr>
            <tr class="invoice-detail{% cycle '' ' grey-bg' %}">
                <td colspan="5">
                    <div>
                        <span class="invoice-description">
                        {% autoescape off %}
                        {{ i.description }}
                        {% endautoescape %}
                        </span>
                        <table class="invoice-payment-command table table-striped">
                            <tr>
                                <td>Acc. #</td>
                                <td>23456789/0300</td>
                            </tr>
                            <tr>
                                <td>Var Symbol</td>
                                <td>
                                    {% if i.payment.var_symbol %}
                                    {{ i.payment.var_symbol }}
                                    {% else %}
                                    <a href="{% url 'payments:generate_var_symbol' i.id %}">Generate</a>
                                    {% endif%}
                                </td>
                            </tr>
                            <tr>
                                <td>Message</td>
                                <td>arapay-{{ user.username }}-{{ i.name }}</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h4>Congratulations! There are no unpaid invoices!</h4>
        {% endif %}
    </section>

    {% if invoices.overpaid %}
    <section class="invoices-overpaid">
        <h2>Overpaid Invoices - Please request a refund.</h2>

        <table class="table invoice-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Date Added</th>
                <th>Date Due</th>
                <th>Amount Total</th>
                <th>Amount Paid</th>
            </tr>
            </thead>
            {% for i in invoices.overpaid %}
            <tr class="invoice-master{% cycle '' ' grey-bg' %}">
                <td><b class="caret-right"></b>{{ i.name }}</td>
                <td>{{ i.date_added|date:"D d-m-Y" }}</td>
                <td>{{ i.date_deadline|date:"D d-m-Y" }}</td>
                <td>{{ i.amount_cents }}</td>
                <td>{{ i.payment.amount_cents }}</td>
            </tr>
            <tr class="invoice-detail{% cycle '' ' grey-bg' %}">
                <td colspan="5">
                    <div>
                        {% autoescape off %}
                        {{ i.description }}
                        {% endautoescape %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </section>
    {% endif %}

    <section class="invoices-paid">
        <h2>Paid Invoices</h2>
        {% if invoices.paid %}
        <table class="table invoice-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Date Added</th>
                <th>Date Due</th>
                <th>Amount Total</th>
                <th>Amount Paid</th>
            </tr>
            </thead>
            {% for i in invoices.paid %}
            <tr class="invoice-master{% cycle '' ' grey-bg' %}">
                <td><b class="caret-right"></b>{{ i.name }}</td>
                <td>{{ i.date_added|date:"D d-m-Y" }}</td>
                <td>{{ i.date_deadline|date:"D d-m-Y" }}</td>
                <td>{{ i.amount_cents }}</td>
                <td>{{ i.payment.amount_cents }}</td>
            </tr>
            <tr class="invoice-detail{% cycle '' ' grey-bg' %}">
                <td colspan="5">
                    <div>
                        {% autoescape off %}
                        {{ i.description }}
                        {% endautoescape %}K
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h4>It looks like you have paid invoices yet.</h4>
        {% endif %}
    </section>

    {% endif %}
</div>
{% endblock content %}
