nav.main-nav {
    border-bottom: 2px solid #dddddd;
    margin-bottom: 2em;
}

nav.main-nav ul {
    padding: 0.5em;
}

nav.main-nav ul li {
    margin-right: 20px;
}

main.invoices section {
    margin-bottom: 2em;
}
