nav.main-nav {
    border-bottom: 2px solid #dddddd;
    margin-bottom: 2em;
}

nav.main-nav ul {
    padding: 0.5em;
}

nav.main-nav ul li {
    margin-right: 20px;
}

section.groups {
    margin-bottom: 2em;
}

section.invoices article {
    margin-bottom: 2em;
}

tr.row-master {
    cursor: pointer;
}

tr.row-detail > td {
    padding: 0;
}

tr.row-detail > td > div {
    max-height: 0;
    padding: 0 1em;
    box-sizing: border-box;
    overflow: hidden;
    transition: max-height 0.3s, padding 0.3s;
}

tr.row-detail-active > td > div {
    max-height: 200px;
    padding: 1em;
    padding-bottom: 1.5em;x
    transition: max-height 0.6s, padding 0.6s;
}

@media only screen and (max-width: 1000px) {
    tr.row-detail-active > td > div {
        max-height: 400px;
    }
}

.invoices article > h2 {
    display: inline-block;
}

.invoice-actions {
    display: inline-block;
    float: right;
}

.invoice-description {
    float: left;
    text-align: left;
    max-width: 45%;
}

.invoice-payment-command {
    max-width: 45%;
    width: auto;
    float: right;
    margin-top: 0;
}

.invoice-payment-command td {
    padding: 0.4rem;
}

.caret-right {
    margin-right: 5px;
    margin-top: 0.45em;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid;
    display: inline-block;
    height: 0;
    opacity: 0.9;
    vertical-align: top;
    width: 0;
    transition: transform 0.2s;
}

.caret-right-down {
    transform: rotate(90deg);
    transition: transform 0.2s;
}

.footer {
    margin-top: 10em;
    float: right;
    border-top: 2px solid #dddddd;
    padding-left: 10px;
    padding-right: 10px;
}

.solo-item {
    text-align: center;
    padding: 7px 12px;
    border-radius: 3px;
    color: #000000;
    background-color: #dddddd;
    border-color: #999999;
}

.blue-bg {
    color: #ffffff;
    background-color: #007bff;
    border-color: #007bff;
}

.red-bg, .payment-status-unpaid {
    color: #ffffff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.green-bg, .payment-status-paid {
    color: #ffffff;
    background-color: #28a745;
    border-color: #28a745;
}

.orange-bg, .payment-status-overpaid {
    background-color: #ffc107;
}

.grey-bg {
    background-color: rgba(0, 0, 0, 0.05);
}

.payment-status {
    text-transform: uppercase;
}

.align-center {
    text-align: right;
}

.qr-code {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-position: 50%;
    background-size: 100%;
    margin-top: -1.2em;
    margin-right: 1em;
}

