.container {
    border-bottom: 3px solid #dddddd;
}

nav.main-nav {
    border-bottom: 2px solid #dddddd;
    margin-bottom: 2em;
}

nav.main-nav ul {
    padding: 0.5em;
}

nav.main-nav ul li {
    margin-right: 20px;
}

section.groups {
    margin-bottom: 2em;
}

section.invoices article {
    margin-bottom: 2em;
}

tr.invoice-master {
    cursor: pointer;
}

tr.invoice-detail > td {
    padding: 0;
}

tr.invoice-detail > td > div {
    max-height: 0;
    padding: 0 1em;
    box-sizing: border-box;
    overflow: hidden;
    transition: max-height 0.3s, padding 0.3s;
}

tr.invoice-detail-active > td > div {
    max-height: 200px;
    padding: 1em;
    padding-bottom: 1.5em;x
    transition: max-height 0.6s, padding 0.6s;
}

.invoices article > h2 {
    display: inline-block;
}

.invoice-actions {
    display: inline-block;
    float: right;
}

.invoice-description {
    float: left;
    max-width: 45%;
}

.invoice-payment-command {
    max-width: 45%;
    width: auto;
    float: right;
    margin-top: 0;
}

.invoice-payment-command td {
    padding: 0.4rem;
}

.invoice-payment-command tr > td:nth-child(2) {
    text-align: right;
}

.caret-right {
    margin-right: 5px;
    margin-top: 0.45em;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid;
    display: inline-block;
    height: 0;
    opacity: 0.9;
    vertical-align: top;
    width: 0;
    transition: transform 0.2s;
}

.caret-right-down {
    transform: rotate(90deg);
    transition: transform 0.2s;
}

.footer {
    margin-top: 10em;
    float: right;
}

.solo-item {
    text-align: center;
    padding: 7px 12px;
    border-radius: 3px;
    color: #000000;
    background-color: #dddddd;
    border-color: #999999;
}

.blue-bg {
    color: #ffffff;
    background-color: #007bff;
    border-color: #007bff;
}

.grey-bg {
    background-color: rgba(0, 0, 0, 0.05);
}
