nav.main-nav {
    border-bottom: 2px solid #dddddd;
    margin-bottom: 2em;
}

nav.main-nav ul {
    padding: 0.5em;
}

nav.main-nav ul li {
    margin-right: 20px;
}

main.invoices section {
    margin-bottom: 2em;
}

tr.invoice-detail {
    padding-bottom: 100px;
    display: none;
   -prefix-animation: slide 1s ease 2s forwards;
}

tr.invoice-detail div {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
}

.grey-bg {
    background-color: rgba(0,0,0,.05);
}
